@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Baloo Thambi 2', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #424242;
}

.mapboxgl-popup-content {
  padding: 1rem;
  margin: 0;

  > * {
    margin: 0 0 0.5rem;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    border-bottom: 1px solid rgba(black, 0.2);

    b {
      font-size: 1.6rem;
      color: #212121;
      padding: 0 5px;
    }
  }

  img {
    display: block;
    width: 3rem;
    height: 3rem;
  }
}

// Not part of the tutorial
.source {
  background-color: rgba(white, 0.5);
  padding: 0.2rem 2rem;
  font-size: 1.4rem;
  position: absolute;
  top: 100%;
  transform: translateY(-100%) translateX(-50%);
  left: 50%;

  a {
    color: #4264fb;
    text-decoration: none;
  }
}
